<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategoryServlet</servlet-name>
  	<display-name>AddCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.servlet.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductServlet</servlet-name>
  	<display-name>AddProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommerce.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategoryServlet</servlet-name>
  	<url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductServlet</servlet-name>
  	<url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error404.jsp</location>
  </error-page>
  
</web-app>
